.header-logo{
 text-align: center;
}

.NavLink{
  color: #fff,
}

.submit-plant{
  color: black,
}

.space-div{
  padding-top: 50px;
}

.MuiAppBar-colorSecondary-13 {
    color: #fff;
    background-color: green;
}

.space-left-nav{
  padding-left: 90px
}

.logo {
  width: 35px
}

.logo-body {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%
}

.zip-body {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  padding-left: 140px
}

.ComposedTextField-container-125 {
margin: auto;
  display: block;
}