.header-logo{
 text-align: center;
}

.NavLink{
  color: #fff,
}

.submit-plant{
  color: black,
}

.space-div{
  padding-top: 50px;
}

.MuiAppBar-colorSecondary-13 {
    color: #fff;
    background-color: green;
}

.space-left-nav{
  padding-left: 90px
}

.logo {
  width: 35px
}

.logo-body {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%
}

.zip-body {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  padding-left: 140px
}

.search-nav {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 400px;
  z-index: 99;
  background-color: white;
  left: 10%;
  top: 10%;
}

.ais-SearchBox {
  padding: 5px;
}

.ais-SearchBox-form > * {
  padding: 5px;
}

.search-hitList {
  max-width: 400px;
}

.search-results {
  border: 1px solid black;
}

.search-results :hover {
  cursor: pointer;
  font-weight: bold;
}

.ComposedTextField-container-125 {
  margin: auto;
  display: block;
}

#submitButtonDiv {
  margin: auto;
  text-align: center;
  }

  #submitButton {
    position:relative;
    top:50%; 
    left:-19%;
    }